@charset "UTF-8";
/* CSS Document */
body{
    overflow: hidden;
    margin: 0;
    position: relative;
}
.attachment_box{
    background: white;
    width:  100%;
    height:  70%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    transform: translateY(100%);
    transition: 0.3s;
    display: none;
}
.list-item{
    height: 58px;
    line-height: 58px;
    padding: 0 15px;
    font-size: 15px;
    color: #424242;
}
.item-image{
    /*display: inline-block;*/
    margin-right: 15px;
    width: 24px;
    height: 20px;
    /*position: relative;*/
    /*top: -18px;*/
    /*width: 24px;*/
    /*max-height: 26px;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.item-text{
    margin-left: 39px;
    max-width: calc(100% - 39px);
    display: inline-block;
}
.line_public{
    position: relative;
}
.line_public:after {
    content: '';
    position: absolute;
    background-color: #e5e5e5;
    display: block;
    z-index: 1;
    top: auto;
    right: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.mask{
    width:  100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
    display:none
}
.attachment_bottom{
    text-align: center;
    height: 30px;
    color: #666;
    font-size: 12px;
    line-height: 30px;
}
.topic_nav,.navigate{
    position: absolute;
    width: 100%;
    top: 0;
}

.attachment_list{
}
.nav_text,.nav{
    padding-left: 15px;
    background: #288AE0;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding-right: 30px;
    color: #fff;
}
.nav span{
    line-height: 1;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
}
.nav_close,.nav-back{
    background: url("../img/icon-back.png") no-repeat;
    width: 15px;
    height: 15px;
    background-size:100% 100% ;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 11px;
}
.text-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.add_image{
    width: 100%;
    height: 100%;
}
#addAttachment{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#iframeBox > iframe{
    border: none;
    width: 100%;
    height: 100vh;
}
.courseware-open{
    width: 48px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    top: 25px;
    left: 21px;
    background: #288AE0;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.attachment-cont{
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-top: 40px;
}
#empty{
    display:none;
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    font-size: 18px;
    color: #cccccc;
}
#iframeBox{
    overflow: hidden;
}
#pushTopic{
    position: absolute;
    top: 90px;
    left: 21px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #66b30d;
    font-size: 14px;
    color: #fff;
}
.topic_box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: white;
    transition: 0.2s;
    z-index:2;
    transform: translate(0,100%);
}
.topic_body{
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-top: 40px;
}
.topic_list > div{
    height: 58px;
    line-height: 58px;
    padding: 0 15px;
    font-size: 15px;
    color: #424242;
}
.quesItem .topic_item{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box
}
.quesItem .topic_item>div {
    width: 100%!important;
    height: 100% !important;
}
.quesItem .topic_item>div img{
    width: 100%!important;
    height: 100%!important;
    padding-bottom: 0!important;
    object-fit: cover;
}
.topic_more{
    text-align: center;
    height: 30px;
    color: #666;
    font-size: 12px;
    line-height: 30px;
}
.pushTopic{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    background: #91cbf9;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    z-index: 10;
}
.pushTopic > div{
    margin: 5px;
}
.item-image{
    margin-right: 15px;
    width: 24px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.item-text{
    margin-left: 39px;
    max-width: calc(100% - 39px);
    display: inline-block;
}
.quesItem{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.quesItem .inputDiv {
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 21px;
}
.quesItem .icon_check {
    width: 18px;
    height: 18px;
    border: 1px #B1B2B3 solid;
    display: block;
}
.quesItem .icon_check.active {
    background-color: #4285F4;
    border-color: #4285F4;
    position: relative;
}
.quesItem .icon_check.active::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    top: 4px;
    left: 3px;
    border-left: 1px #fff solid;
    border-bottom: 1px #fff solid;
    transform: rotate(310deg);
}
.quesItem .inputDiv input {
    margin: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    opacity: 0;
}

