@charset "UTF-8";
/* CSS Document */
body{
    overflow: hidden;
    margin: 0;
    position: relative;
}
.attachment_box{
    background: white;
    width:  100%;
    height:  70%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    transform: translateY(100%);
    transition: 0.3s;
    display: none;
}
.list-item{
    height: 58px;
    line-height: 58px;
    padding: 0 15px;
    font-size: 15px;
    color: #424242;
}
.item-image{
    /*display: inline-block;*/
    margin-right: 15px;
    width: 24px;
    height: 20px;
    /*position: relative;*/
    /*top: -18px;*/
    /*width: 24px;*/
    /*max-height: 26px;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.item-text{
    margin-left: 39px;
    max-width: calc(100% - 39px);
    display: inline-block;
}
.line_public{
    position: relative;
}
.line_public:after {
    content: '';
    position: absolute;
    background-color: #e5e5e5;
    display: block;
    z-index: 1;
    top: auto;
    right: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.mask{
    width:  100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
    display:none
}
.attachment_bottom{
    text-align: center;
    height: 30px;
    color: #666;
    font-size: 12px;
    line-height: 30px;
}
.topic_nav,.navigate{
    position: absolute;
    width: 100%;
    top: 0;
}

.attachment_list{
}
.nav_text,.nav{
    padding-left: 15px;
    background: #288AE0;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding-right: 35px;
    color: #fff;
}
.nav span{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
}
.nav_close,.nav-back{
    background: url("../img/icon-back.png") no-repeat;
    width: 15px;
    height: 15px;
    background-size:100% 100% ;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 11px;
}
.text-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.add_image{
    width: 100%;
    height: 100%;
}
#addAttachment{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#iframeBox > iframe{
    border: none;
    width: 100%;
    height: 100vh;
}
.courseware-open{
    width: 48px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    top: 25px;
    left: 21px;
    background: url("../images/icon-courseware.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size:0
}

.attachment-cont{
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-top: 40px;
}
#empty{
    display:none;
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    font-size: 18px;
    color: #cccccc;
}
#iframeBox{
    overflow: hidden;
}
#pushTopic{
    position: absolute;
    top: 90px;
    left: 21px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: url("../images/icon-questionBank.png") no-repeat;
    background-size: 100% 100%;
    font-size:0;
    z-index:1;
}
.topic_box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: white;
    transition: 0.2s;
    z-index:2;
    transform: translate(0,100%);
    display: none;
}
.topic_body{
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-top: 40px;
}
.topic_list > div{
    height: 58px;
    line-height: 58px;
    padding: 0 15px;
    font-size: 15px;
    color: #424242;
}
.quesItem .topic_item{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box
}
.quesItem .topic_item>div {
    width: 100%!important;
    height: 100% !important;
}
.quesItem .topic_item>div img{
    width: 100%!important;
    height: 100%!important;
    padding-bottom: 0!important;
    object-fit: cover;
}
.topic_more{
    text-align: center;
    height: 30px;
    color: #666;
    font-size: 12px;
    line-height: 30px;
}
.pushTopic{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    background: #91cbf9;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    z-index: 10;
}
.pushTopic > div{
    margin: 5px;
}
.item-image{
    margin-right: 15px;
    width: 24px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.item-text{
    margin-left: 39px;
    max-width: calc(100% - 39px);
    display: inline-block;
}
.quesItem{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.quesItem .inputDiv {
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 21px;
}
.quesItem .icon_check {
    width: 18px;
    height: 18px;
    border: 1px #B1B2B3 solid;
    display: block;
}
.quesItem .icon_check.active {
    background-color: #4285F4;
    border-color: #4285F4;
    position: relative;
}
.quesItem .icon_check.active::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    top: 4px;
    left: 3px;
    border-left: 1px #fff solid;
    border-bottom: 1px #fff solid;
    transform: rotate(310deg);
}
.quesItem .inputDiv input {
    margin: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    opacity: 0;
}

#album{
    position: absolute;
    top: 90px;
    right: 21px;
    background: url("../images/icon-selectionImages.png") no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0;
    z-index: 1;
}

#shouTu{
    position: absolute;
    top: 25px;
    right: 21px;
    background: url("../images/icon-CollectFigure.png") no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0;
    z-index: 1;
}
#shouTu.stop_shou{
    background: url("../images/icon-cancel.png") no-repeat;
    background-size: 100% 100%;
}
.imageBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background: rgba(0,0,0,0.5);
    /*box-shadow: 1px 1px 10px #ccc;*/
    display: none;
}
#image{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*transform: translate(50%,50%);*/
    object-fit: contain;
}
.close_img{
    position: absolute;
    top: 14px;
    left: 15px;
    color: white;
    font-size: 14px;
    line-height: 1;
    z-index: 1000;
}
.pushImage-navigation{
    height: 44px;
    background: #282D31;
    padding: 0 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}
.pushImageBtn{
    position: absolute;
    right:15px;
    border-radius: 4px;
    padding: 0 12px;
    height: 28px;
    top: 6px;
    border:none;
    outline: none;
    background: #1CAC1B;
    font-size: 12px;
    color: #fff;

}



