body,html{
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Microsoft YaHei", "Hiragino Sans GB",  Arial,Helvetica;
}
::-webkit-scrollbar {
    width: 4px!important;
    height: 6px!important;
}
input:-webkit-autofill{
    box-shadow: 0 0 0px 1000px transparent inset !important;
}
:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/icon_yunBg.png") no-repeat;
    background-size: cover;
}
.login_box{
    width: 350px;
    height: 100%;
    background: white;
    padding: 70px 26px 0;
    box-sizing: border-box;
}
.new_box{
    position: absolute;
    height: 437px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    justify-content: center;
}
.logo{
    margin-top: 45px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    line-height: 54px;
    padding-left: 54px;

}
.logo i{
    width:60px;
    height:100%;
    display: block;
    background: url("../img/icon_classLogo.png") no-repeat left center;
    background-size: 48px;
    position: absolute;
    left:48px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}
.down_box{
    text-align: center;
    margin-right: 112px;
    min-width: 310px;
}
.down_box .text{
    color: white;
    font-size: 18px;
    line-height: 44px;
    margin: 35px 0 65px;

}
.my_flex{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

.tab{
    font-size: 19px;
    cursor: pointer;
}
.tab > div{
    width: 50%;
    color: #666;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px #E0E0E0 solid;
}
.right_font{
    width: 100px;
    height: 100px;
    background: palevioletred;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%) rotate(45deg);
}
.inputWrap{
    position: relative;
    width: 100%;
}
.inputWrap #actData{
    max-height: 132px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 82px;
    box-sizing: border-box;
    border: 1px #e5e5e5 solid;
    background: white;
    z-index: 5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

/* 滑块颜色 */
::-webkit-scrollbar-button {
    background-color: initial;
}

input{
    border: 1px #D2D2D2 solid;
    line-height: 20px;
    padding: 11px 15px;
    margin-bottom: 24px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 15PX;
}

input:focus{
    box-shadow: 0px 0px 2px #215bef8a;
    border-color: #1757FB;
}
input#act{
    margin-top: 40px;
}
.inputWrap .listCont{
    position: relative;
    padding: 5px 15px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.inputWrap #actData .listCont:hover{
    background-color: #edf2ff;
    color: #333;
}
.inputWrap .listCont .text {
    line-height: 28px;
    display: block;
    width: calc(100% - 20px);
}
.listCont .close {
    display: block;
    width: 28px;
    height: 28px;
    background:url("../../images/icon_close.png") no-repeat center center;
    background-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
}
#login{
    line-height: 48px;
    height: 48px;
    background-color: #4285F4;
    width: 100%;
    color: #fff;
    text-align: center;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin-top: 43px;
    font-family: "Helvetica Neue","Microsoft Yahei",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
#login:hover{
    opacity: 0.9;
}
.font{
    position: absolute;
    bottom:10px;
    right: 50%;
    z-index: 10;
    transform: translate(50%,0%) rotate(-45deg);
    -weibkit-transform:translate(50%,0%) rotate(-45deg);
}

.tab > div.active{
    border-bottom: 1px solid #1757FB;
    position: relative;
    color: #1A58FB;
}
.active::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    border-left: 1px #1757FB solid;
    border-bottom: 1px #1757FB solid;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: translateX(-50%) rotate(135deg);
    -weibkit-transform: translateX(-50%) rotate(135deg);
}

#scan_image{
    width: 210px;
    height: 210px;
}
.scan{
    display: none;
    text-align: center;
    margin-top: 22px;
}
.scan div{
    color: #666;
    font-size: 14px;
}
.downPc{
    color: white;
    font-size: 14px;
    background: url("../img/icon_down.png") no-repeat left center;
    background-size: 16px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    line-height: 15px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-left: 21px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.downPc.left{
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.downPc:hover{
    text-decoration: underline;
}
/*下载手机端*/
.downPhone{
    position: relative;
    cursor: pointer;
    padding: 0 15px;
}
.downPhone .download-pop-up{
    width: 143px;
    height: 172px;
    background: url(../img/down-pop-up.png) center center;
    background-size: cover;
    padding: 5px 10px 44px 10px;
    position: absolute;
    top: -182px;
    z-index: 100;
    transform: translateX(-50%);
    left: 50%;
    box-sizing: border-box;
    display: none;
    font-size: 13px;
}
.downPhone .download-pop-up > div{
    margin-bottom: 7px;
}
.downPhone .download-pop-up span{
    font-size: 12px;
    line-height: 24px;
    color: #e5e5e5;
}
.downPhone .download-pop-up img{
    width: 100%;
    height: 100%;
}
.downPhone:hover .download-pop-up{
    display: block;
}
.downPhone.android .download-pop-up{
    /*width: 121px;*/
    /*height: 160px;*/
    /*top: -170px;*/
    /*padding: 10px 10px 55px 10px;*/

    width: 143px;
    height: 188px;
    top: -198px;
    padding: 5px 10px 60px 10px;
}
.downPcNew.downPhone .download-pop-up{
    height: 34px;
    top: -44px;
    padding: 0;
    background: url(../img/down-pop-up.png) center bottom;
    background-size: auto;
}
.downPcNew.downPhone .download-pop-up > div{
    padding-top: 3px;
}
.downApp{
    color: #fff;
    font-size: 14px;
}
.downInner{
    padding-top: 25px;
    justify-content: center;
}

.downInner a{
    color: #999;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}
.downPcNew{
    cursor: pointer;
    padding: 0 15px;
}

